/*body{
	background-image: url("http://wallpapercave.com/wp/iYy4Rai.png");
}*/

body { 
  background: url("http://wallpapercave.com/wp/iYy4Rai.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
